# flyctl launch added from .gitignore
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/*.iml
**/*.user
**/*.suo
**/*.orig
**/*.rej
**/*~

**/.git
**/.gitignore

**/**/bin
**/**/obj
**/**/out
**/**/publish
**/artifacts
**/*.dll
**/*.exe
**/*.pdb
**/*.mdb

**/.vs
**/*.sln.docstates
**/_ReSharper*
**/*.[Rr]e[Ss]harper
**/*.DotSettings.user

**/*.nupkg
**/*.snupkg
**/packages
**/.nuget
**/project.assets.json
**/project.nuget.cache
**/*.dotnet_tool_restore
**/packages.lock.json

**/appsettings.Development.json
**/secrets.json
**/secrets.*.json
**/local.settings.json
**/*.PublishSettings
**/docker-compose.override.yml
**/docker-compose.*.local.yml
**/.env

**/*.log
**/logs
**/TestResults
**/*.trx
**/*.coverage
**/*.coveragexml
**/coverage
**/coverage*.json

**/*.mdf
**/*.ldf
**/*.sqlite
**/*.db

**/.vs/*/applicationhost.config
**/.vs/*/config/*.db
**/aspnetcore-*


**/bun
**/_bun
**/.bun
**/~/.bun
**/~/.bun/**
**/bun.lockb
**/bun.lock
**/bunfig.toml
**/*.bun

**/*.pid
**/*.tar
**/**/tmp
**/**/.docker
**/**/docker-data
**/**/compose-cache
**/**/compose-backup
fly.toml
